# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
miniprogram/miniprogram_npm/
cloudfunctions/login/node_modules
cloudfunctions/openapi/node_modules
cloudfunctions/geodata/node_modules
