@import '../../style/fn.less';

page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000000;
}

.container {
    background: #000000;
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.wrap-tab-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);

    &.show {
        transform: unset;
    }
}

.tab-bar {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: relative;
    z-index: 1000;
    .safeAreaBottom();
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
      
    .tab-bar-item {
        margin-top: 8px;
        margin-bottom: 8px;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        
        .tab-bar-image {
            width: 27px;
            height: 27px;
        }
        .tab-bar-text {
            font-size: 10px;
            color: #7A7E83;
            &.selected {
                color: @theme_text;
            }
        }
    }
}