@import './var.less';

.safeAreaBottom() {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.commonBtn() {
    display: flex;
    justify-content: center;
    width: 108px;
    background: #461CE5;
    padding: 8px 32px;
    border-radius: 4px;
}